.contenedor{
    width: 1440px;
    height: 926px;
    background-color: #9C2004;
}

body{
    display: flex;
    justify-content: center;
    background-color: #252525;
    font-family: Arial, Helvetica, sans-serif
}

.imagenes{
    position: relative;
    width: 656px;
    height: 861px;
    margin-top: 64px;
    margin-left: 64px;

}

.img4{
    position: absolute;
    top: 24px;
}

.img3{
    position: absolute;
    top: 5px;
}

.img2{
    position: absolute;
    left: 460px;
    top: 570px;
}

.img1{
    position: absolute;
    width: 618px;
    height: 795px;
    top: 69px;
    left: 5px;
}

.div4{
    position: absolute;
    width: 656px;
    height: 656px;
}

.div43{
    position: absolute;
    width: 224px;
    height: 224px;
}
.div2{
    position: absolute;
    width: 224px;
    height: 224px;
}
.div1{
    position: absolute;
    width: 616px;
    height: 795px;
}

.texto{
    width: 487px;
    height: 675px;
    margin-top: 67px;
}

.h1 h1{
    font-weight: 700;
    font-size: 88px;
    line-height: 104px;
    color: white;
}

.h1{
    width: 487px;
    height: 416px;
}

.p{
    width: 487px;
    height: 96px;
    margin-top: 40px;
}

.p p{
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: white;
}

.boton{
    width: 231px;
    height: 82px;
    margin-top: 40px;
}

.boton button{
    border-radius: 36px;
    padding-top: 32px;
    padding-right: 56px;
    padding-bottom: 32px;
    padding-left: 56px;
    background-color: #E5B94B;
    font-weight: 500;
    font-size: 32px;
    line-height: 18px;
    color: #080808;

}

.flex{
    display: flex;
}

.gap{
    gap: 169px;
}