.contenedor{
    width: 1440px;
    height: 926px;
    background-color: #9C2004;
}

body{
    display: flex;
    justify-content: center;
    background-color: #252525;
}

.imagenes{
    position: relative;
    width: 656px;
    height: 861px;
    margin-top: 64px;
    margin-left: 64px;

}

.img4{
    position: absolute;
    top: 24px;
}

.img3{
    position: absolute;
}

.img2{
    position: absolute;
    left: 460px;
    top: 564px;
}

.img1{
    position: absolute;
    width: 618px;
    height: 795px;
    top: 60px;
    left: 5px;
}