body{
  display: flex;
  justify-content: center;
  background-color: #252525;
}

.flex{
  display: flex;
}

.column {
  flex-direction: column;
}

.justifycenter{
  justify-content: center;
}

.ancho{
  width: 600px;
}

.titulo {
  width: 350px;
  display: flex;
  color: #252525;
  font-weight: 800;
  size: 64px;

}

.color {
  color: #252525;
}

.tipografia{
  font-family: Arial, Helvetica, sans-serif;
}

.aligncenter{
  align-items: center;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto_tipo {
  font-weight: 400px;
  font-size: 26px;
}


.button{
  width: 158px;
  height: 54px;
  background-color: #252525;
  border-radius: 16px;
  color: white;
}

.seccion {
  gap: 16px;
}

.margin {
  margin-top: 16px;
}

.margin2 {
  margin-top: 75px;
}

.margin3{
  margin-bottom: 50px;
}

.contenedor{
  width: 1440px;
  height: 1139px;
  background-color: #FFFFFF;
}