body{
    justify-content: center;
    display: flex;
    background-color: #252525;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    width: 1440px;
    height: 1024px;
    background-color: white;
}

.texto{
    width: 637px;
    height: 477px;
}

.texto h1{
    width: 500px;
    height: 264px;
    font-weight: 600;
    font-size: 72px;
    line-height: 88px;
    color: #252525;
    margin: 0;
}

.texto p{
    width: 519px;
    height: 99px;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #252525;
    margin: 0;
    margin-top: 24px;
}

.texto button{
    padding-top: 24px;
    padding-right: 48px;
    padding-bottom: 24px;
    padding-left: 48px;
    border-radius: 36px;
    background-color: #252525;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    color: white;
    margin: 0;
    margin-top: 24px;
}
.relativo{
    position: relative;
    width: 1440px;
    height: 1024px;
}

.absoluto1{
    position: absolute;
    top: 674px;
    left: 142px;
}
.absoluto2{
    position: absolute;
    left: 1063px;
    top: 67px;
}
.absoluto3{
    position: absolute;
    top: 524px;
    left: 383px;
}
.absoluto4{
    position: absolute;
    left: 723px;
    top: 282px;
}
.absoluto5{
    position: absolute;
    top: 388px;
    left: 596px;
}
.absoluto6{
    position: absolute;
    top: 541px;
    left: 1095px;
}
.absoluto7{
    position: absolute;
    top: 91px;
    left: 498px;
}
.absoluto8{
    position: absolute;
    width: 668px;
    height: 122px;
    top: 838px;
    left: 708px;
}

.absoluto9{
    position: absolute;
    top: 64px;
    left: 64px;
}

.flex {
    display: flex;
    gap: 24px;
}

.absoluto8 p{
    width: 516px;
    height: 90px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
}

.absoluto8 img{
    width: 80px;
    height: 80px;
    margin-top: 21px;
    margin-left: 24px;
}