body{
    display: flex;
    background-color: #252525;
    justify-content: center;
    font-family: 'Noto Sans', 'Nunito', Arial, Helvetica, sans-serif;
}
.contenedor{
    width: 1440px;
    background-color: white;
}

.flex{
    display: flex;
    justify-content: center;
}

.contenido {
    width: 526px;
    height: 178px;
    font-size: 26px;
    color: #252525;
}

.titulo {
    width: 674px;
    height: 80px;
    font-weight: 800px;

}
.margin{
    margin-top: 122px;
    margin-left: 64px;
    margin-right: 63px;
}
.titulo2 {
    font-size: 84px;
    color: #252525;
    margin-top: 0;
}

.imagen {
    margin-top: 120px;
    margin-left: 64px;
    margin-right: 63px;
    margin-bottom: 56px;
}

.gap{
    gap: 133px;
}

.boton {
    width: 157px;
    height: 50px;
    border-radius: 16px;
    background-color: #252525;
    color: white;
}