body{
    justify-content: center;
    background-color: #252525;
    display: flex;
    font-family: "Poppins", sans-serif;
}

.contenedor{
    width: 1440px;
    height: 926px;
    background: linear-gradient(122.62deg, #C8CCCF 5.59%, #97A3A3 84.01%);
}

.relativo{
    position: relative;
    width: 756px;
    height: 310px;
}

.absolutoright{
    position: absolute;
    left: 838px;

}


.absolutotexto{
    position: absolute;
}

.texto{
    width: 756px;
    height: 310px;
    margin-left: 295px;
}

h1{
    font-size: 88px;

    font-weight: 700;
    color: #363830;
    margin: 0;
    margin-top: 64px;
}

.texto p{
    width: 659px;
    height: 108px;
    font-weight: 400;
    font-size: 27px;
    margin-top: 16px;
    margin-bottom: 0;

}

.texto button{
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    width: 182px;
    height: 66px;
    border-radius: 36px;
    padding-top: 24px;
    padding-right: 48px;
    padding-bottom: 24px;
    padding-left: 48px;
    background-color: #363830;
    color: white;
   
}

button{
    margin-top: 16px;
}

.relativo2{
    position: relative;
    width: 948px;
    height: 272px;
}

.absoluto2{
    position: absolute;
    left: 86px;
}


.flex{
    display: flex;
}

.frame{
    margin-left: 340px;
    margin-top: 217px;
    top: 79px;
    background: linear-gradient(95.95deg, rgba(255, 255, 255, 0.3) 6.59%, rgba(255, 255, 255, 0.18) 96.07%);
    width: 948px;
    height: 272px;
    border-radius: 144px;
    justify-content: center;
    align-items: center;
}


.span {
    width: 38px;
    height: 36px;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #363830;
}
.span p{
    margin: 0;
}

.p{
    width: 204px;
    height: 120px;
    opacity: 1;
    font-weight: 400;
    font-size: 16px;
    color: #363830;
}

.gap{
    gap: 80px;
}

.absoluto3{
    position: absolute;
    top: 105px;
    left: 64px;
}