body{
  display: flex;
  justify-content: center;
  background-color: #252525;
}

.contenedor{
  width: 1440px;
  height: 1272px;
  background-color: #FFFFFF;
}

.image_card{
    width: 1316px;
    height: 440px;
    margin-left: 64px;
    gap: 40px;
}

.derecha {
    width: 408px;
    height: 480px;
    margin-top: 217px;
    margin-left: 64px;
    border-radius: 16px;
}

.izquierda {
    width: 408px;
    height: 480px;
    margin-left: 525px;
    margin-top: 65px;
    border-radius: 16px;
}

.flex{
    display: flex;
}

.tipografia {
    font-family: Arial, Helvetica, sans-serif;
}

.contenido {
    width: 444px;
    height: 437px;
    gap: 24px;
    margin-left: 64px;
}

.titulo{
    font-weight: 800px;
    
}