body{
  display: flex;
  justify-content: center;
  background-color: #252525;
}

.contenedor{
  width: 1440px;
  height: 1272px;
  background-color: #FFFFFF;
}

.image_card{
    width: 1316px;
    height: 440px;
    margin-left: 64px;
    gap: 40px;
}

.derecha {
    width: 408px;
    height: 480px;
    margin-top: 217px;
    margin-left: 64px;
    border-radius: 16px;
}

.izquierda {
    width: 408px;
    height: 480px;
    margin-left: 525px;
    margin-top: 65px;
    border-radius: 16px;
}

.flex{
    display: flex;
}

.tipografia {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 64px;
}

.contenido {
    width: 444px;
    height: 437px;
    gap: 24px;
    margin-left: 64px;
}

.titulo h1{
    font-weight: 800px;
    font-size: 56px;
}

.texto p{
    font-weight: 400;
    font-size: 26px;
}

.boton {
    width: 157px;
    height: 50px;
    border-radius: 10px;
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 18px;
}

