body{
    display: flex;
    background-color: #252525;
    justify-content: center;
}

.contenedor{
  width: 1440px;
  background-color: #FFFFFF;
}

.image_card{
    width: 1316px;
    height: 440px;
    gap: 40px;
    margin-top: 72px;
    justify-content: center;
}

.derecha {
    width: 408px;
    height: 480px;
    margin-top: 217px;
    border-radius: 16px;
    margin-right: 60px;
}

.izquierda {
    width: 408px;
    height: 480px;
    margin-left: 525px;
    margin-top: 65px;
    border-radius: 16px;
}

.flex{
    display: flex;
}

.tipografia {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 64px;
}

.contenido {
    width: 444px;
    height: 437px;
    gap: 24px;
    margin-left: 64px;
    margin-top: 137px;
}

.titulo h1{
    font-weight: 800px;
    font-size: 56px;
}

.texto p{
    font-weight: 400px;
    font-size: 26px;
}

.imagen{
    margin-top: 65px;
}

.boton {
    width: 157px;
    height: 50px;
    border-radius: 10px;
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 18px;
}



.justify {
    justify-content: center;
}

.gap {
    gap: 40px;
}

.margenabajo{
    margin-bottom: 63px;
    margin-left: 64px;
    margin-right: 60px;
}

.numero{
    font-family: "Noto Sans", sans-serif;
    font-weight: 800px;
    font-size: 40px;
    color: #2525253d ;
}

.gap2{
    gap: 17px;
}